.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(208, 11, 11, 0.1);
}

.navbar-brand {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: rgba(237, 13, 13, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}

.navbar-brand a {
  color: #ff000d; /* Change to your desired color */
  text-decoration: none;
}

.nav-link {
  color: #ffffff; /* Change to your desired color */
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(237, 13, 13, 0.1);
  color: #ff0011; /* Change text color on hover */
}



